div(ng-app='App')
   - for(var i = 0; i <= 9; i++)
      card(content=i, color='yellow')
   card(type='skip', color='yellow')
   card(type='plus-two', color='yellow')
   card(type='reverse', color='yellow')
   card(type='wild')
   card(type='plus-four')
/////
script#card-template(type='text/ng-template')
   div.card(ng-class='color')
      div.ellipse
      div.content(ng-class='color', ng-bind-html='content')
      div.small-content(ng-class='color', ng-bind-html='smallContent')
      div.small-content-reverse(ng-class='color', ng-bind-html='smallContent')
/////
script#reverse-template(type='text/ng-template')  
   div.reverse
      div.arrows
         div.arrow
         div.arrow
/////
script#skip-template(type='text/ng-template')
   div.skip
//////
script#plus-two-template(type='text/ng-template')
   div.plus-two
/////
script#wild-template(type='text/ng-template')
   div.wild
      div.segment.yellow
      div.segment.green
      div.segment.blue
      div.segment.red
/////
script#plus-four-template(type='text/ng-template')
   div.plus-four
      div.card1
      div.card2
      div.card3
      div.card4